body{
    margin: 0;
}

.wrapper{
    background-image: url(back.jpg);
    background-size: 20%;
    width: 100%;
    height: 100%;
    display: grid;
    position: absolute;
    align-content: center;
    justify-content: center;
}

.container{
    width: 640px;
    height: 480px;
    position: relative;
    transform-style: preserve-3d;
}

.front{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: grid;
    position: absolute;
    align-content: center;
    justify-content: center;
    transform: translateZ(1px);
}

#icon{
    width: 200px;
    height: 200px;
    background-image: url(cat.jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease-in-out;
}

#icon:hover{
    width: 300px;
    height: 300px;
}

.cats{
    visibility: hidden;
    display: grid;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg) translateZ(1px);
}

.cats video{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.anim {
    animation: flip;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes flip{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(180deg);
    }
}
